<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <mat-card class="example-card form">
          <mat-card-header>
            <ion-row class="ion-justify-content-between max-width">
              <ion-col>
                <mat-card-title>Actividades pendientes</mat-card-title>
              </ion-col>
            </ion-row>
          </mat-card-header>
          <mat-card-content>

            <ion-col class="ion-align-self-center">
              <img class="no-element-img" src="https://media.istockphoto.com/vectors/kid-with-question-mark-curious-vector-vector-id1171408085?k=6&m=1171408085&s=612x612&w=0&h=yf0ScCBTL1vd_xdKhgLl-AtQCQaslf4W5LToQGcxxB0=" alt="">
              <h3>Parece que aun no hay nada por aqui</h3>
            </ion-col>

          </mat-card-content>
        </mat-card>

        <mat-card class="example-card form">
          <mat-card-header>
            <ion-row class="ion-justify-content-between max-width">
              <ion-col>
                <mat-card-title>Actividades completadas</mat-card-title>
              </ion-col>
            </ion-row>
          </mat-card-header>
          <mat-card-content>

            <ion-col class="ion-align-self-center">
              <img class="no-element-img" src="https://media.istockphoto.com/vectors/kid-with-question-mark-curious-vector-vector-id1171408085?k=6&m=1171408085&s=612x612&w=0&h=yf0ScCBTL1vd_xdKhgLl-AtQCQaslf4W5LToQGcxxB0=" alt="">
              <h3>Parece que aun no hay nada por aqui</h3>
            </ion-col>

          </mat-card-content>
        </mat-card>
      </ion-col>

      <ion-col>
        <mat-card class="example-card form">
          <mat-card-header>
            <ion-row class="ion-justify-content-between max-width">
              <ion-col>
                <mat-card-title>Evaluaciones pendientes</mat-card-title>
              </ion-col>
            </ion-row>
          </mat-card-header>
          <mat-card-content>

            <ion-col class="ion-align-self-center">
              <img class="no-element-img" src="https://thumbs.dreamstime.com/b/cute-little-kid-girl-think-question-mark-188986232.jpg" alt="">
              <h3>Parece que aun no hay nada por aqui</h3>
            </ion-col>

          </mat-card-content>
        </mat-card>

        <mat-card class="example-card form">
          <mat-card-header>
            <ion-row class="ion-justify-content-between max-width">
              <ion-col>
                <mat-card-title>Evaluaciones completadas</mat-card-title>
              </ion-col>
            </ion-row>
          </mat-card-header>
          <mat-card-content>

            <ion-col class="ion-align-self-center">
              <img class="no-element-img" src="https://thumbs.dreamstime.com/b/cute-little-kid-girl-think-question-mark-188986232.jpg" alt="">
              <h3>Parece que aun no hay nada por aqui</h3>
            </ion-col>

          </mat-card-content>
        </mat-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
