.answer-card{
    max-width: 360px;
}

.answer-img{
    width: 200px;
    height: 200px;
    object-fit: fill;
}

.p-calendar-class{
    color:red;
    background-color:red;
}

.time-label-padding{
  margin-left: 20px;
  margin-right: 20px;
}


:host ::ng-deep .p-multiselect {
  min-width: 15rem;
  width: 18rem;
}

:host ::ng-deep .p-multiselect-item {
  width: 68rem;
}

:host ::ng-deep .multiselect-custom {
  .p-multiselect-label {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }
}
:host ::ng-deep {
  @media screen and (max-width: 640px) {
    .p-multiselect {
      width: 100%;
    }
  }
}
