.answer-card{
  max-width: 360px;
}

.answer-img{
  width: 200px;
  height: 200px;
  object-fit: fill;
}

.p-calendar-class{
  color:red;
  background-color:red;
}

.time-label-padding{
  margin-left: 20px;
  margin-right: 20px;
}
