<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Crear actividad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Crear actividad</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>


    <mat-card class="example-card form">
      <mat-card-header>
        <ion-row class="ion-justify-content-between max-width">
          <ion-col>
            <mat-card-title>Detalles de la actividad</mat-card-title>
          </ion-col>
          <ion-row class="ion-padding">
            <button class="margin-vertical" mat-raised-button color="primary">Guardar</button>
          </ion-row>
        </ion-row>
      </mat-card-header>
      <mat-card-content>

        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

          <div>
            <mat-form-field color="primary" [style.width.%]="100" appearance="outline">
              <mat-label>Nombre de la actividad</mat-label>
              <input matInput placeholder="Nombre de la actividad" formControlName="title">
              <div *ngIf="submitted && f.title.errors">
                <mat-error *ngIf="f.Nombre.errors.required">Este campo es obligatorio</mat-error>
              </div>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field color="primary" [style.width.%]="100" appearance="outline">
              <mat-label>Descripción de la actividad</mat-label>
              <textarea matInput placeholder="Descripción de la actividad" formControlName="description"></textarea>
              <div *ngIf="submitted && f.title.errors">
                <mat-error *ngIf="f.Nombre.errors.required">Este campo es obligatorio</mat-error>
              </div>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" [style.width.%]="100">
            <mat-label>Sección</mat-label>
            <mat-select formControlName="sectionId">
              <mat-option *ngFor="let section of sections" [value]="section.ID_Seccion">
                {{section.Nombre}}
              </mat-option>
            </mat-select>
            <div *ngIf="submitted && f.sectionId.errors">
              <mat-error *ngIf="f.sectionId.errors.required">Este campo es obligatorio</mat-error>
            </div>
          </mat-form-field>

          <ion-row>
            <ion-col>
              <label class="time-label-padding">Fecha de inicio : </label>
              <p-calendar formControlName="start_datetime" styleClass="p-calendar-class" [showTime]="true"
                          inputId="time" #startDate required="true" showButtonBar="true"
              ></p-calendar>
            </ion-col>
            <ion-col>
              <label class="time-label-padding">Fecha de fin : </label>
              <p-calendar formControlName="end_datetime" styleClass="p-calendar-class" [showTime]="true"
                          inputId="time" required="true" showButtonBar="true"
                          [minDate]="getDateWithOneHour( startDate.value )"
              ></p-calendar>
            </ion-col>
          </ion-row>

        </form>
      </mat-card-content>
    </mat-card>

  </ion-grid>
</ion-content>
